---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
---

<header>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between">
      <Link href="/" underline={false}>
        <div class="font-semibold">
          ☕ {SITE.NAME}
        </div>
      </Link>
      <nav class="flex gap-1">
        <Link href="https://drive.google.com/file/d/1rB58d_cvddErHl6-oh16siiHQRRlLP5X/view?usp=drive_link" external> currículum </Link>
        <span>
          {`/`}
        </span>
        <Link href="/work"> trabajo </Link>
        <span>
          {`/`}
        </span>
        <Link href="/education"> educación </Link>
        <span>
          {`/`}
        </span>
        <Link href="/projects"> proyectos </Link>
      </nav>
    </div>
  </Container>
</header>
